h1{
  font-family: 'Roboto',sans-serif;
  font-weight: bold;
}

p{
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
}

.nav li{
  display: inline;
  font-family: 'Roboto',sans-serif;
  font-size: 26px;
}

.nav {
  padding: inherit;
}
